<div class="row">

    <div class="col-md-6">

        <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
    <div class="col-md-6">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>
<div class="col-md-12 text-center mt-5" style="height: 50%">
    <button (click)="randomizeType()" style="display: inline-block" class="btn btn-info">Toggle</button>
</div>